services:
  backend:
    build:
      context: ./backend
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      - db
    ports:
      - "${DJANGO_PORT}:${DJANGO_PORT}"

  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    environment:
      - POSTGRES_PORT=5432
    ports:
      - "${POSTGRES_PORT}:5432"

  frontend:
    build:
      context: ./frontend
    env_file:
      - .env
    depends_on:
      - backend
    ports:
      - "${REACT_PORT}:${REACT_PORT}"

volumes:
  postgres_data:
