services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:${DJANGO_PORT}
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
    depends_on:
      - db
    ports:
      - "${DJANGO_PORT}:${DJANGO_PORT}"

  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"

volumes:
  postgres_data:
